.d1{
    height: 70vh;
    width: 100%;
}

.hs{
    font-size: 80px;
    text-align: end;
}

 .ll1{
    width:auto;
    height: auto;
    border-radius: 50%;
}
.k{
  
    display: flex;
    
}
.j{
    font-size: 20px;

}