
body {
  height: 100vh;
  width:auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /*background-image: url('a.jpg');
  background-size: cover;*/
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.b2{
  display: flex;
  margin-left:auto;
  margin-right:0%;
  font-size: 3rem;
}
.pp{
  display: flex;
  flex-Direction: column;
  align-Content: center;
  align-Items: 'center';
  justify-Content: 'center',
}
.no{
  display: 'flex';
  flex-Direction: 'column';
  align-Content: 'center';
  align-items: 'center';
  justify-Content: 'center'
}
.h1{
  display: 'flow';
  flex-direction: 'row'
}
.h2{
  display: 'flex';
          justify-content: flex-end;
          align-items: center;
          font-Size: 30
}